<div style="
width: 90%;
margin-left: 5%;
">
<button class="btn btn pull-right" (click)="refresh()"><i class="glyphicon glyphicon-refresh"></i>Refresh</button>

<div class="loader" *ngIf="showLoader"></div>

<table  class="table" >
        <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Position</th>
                  <th scope="col">Office</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
    <tbody  *ngFor="let emp of epmloyees">
        <tr *ngIf="emp.name !=null">
             <td>{{emp._id}}</td><td>{{emp.name}}</td><td>{{emp.position}}</td><td>{{emp.office}}</td>
            <td><button class="btn" (click)="deleteEmp(emp._id)"><i class="glyphicon glyphicon-trash"></i></button></td>
            <td><button class="btn" (click)="editEmp(emp)"><i class="glyphicon glyphicon-edit"></i></button></td>
        </tr>
    </tbody>
</table>
</div>
   